body {
    margin: 0% 0%;
    font-family: 'Montserrat';
  }
  .mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: #ADBB0D;
    color: white;
    height: 200px;
  }
  .siteLogo {
    display: flex;
    align-items: center;
    font-size: 36px;
  }
  
  .logoImage {
    width: 68px;
    height: auto;
    border-radius: 16px;
    margin: 0 16px 0 0;
  }
  
  .mainNavigation {
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  .mainNavItem1 a {
    padding: 0 16px;
    color:#D64168;
    text-decoration: none;
  }
  .mainNavItem2 a {
    padding: 0 16px;
    color: white;
    text-decoration: none;
  }
  .mainNavItem3 a {
    padding: 0 16px;
    color: white;
    text-decoration: none;
  }
  .mainNavItem2 a:hover {
    color:#103A72;
  }
  .mainNavItem3 a:hover {
    color:#103A72;
  }
  #heroGrid {
    margin: 0% 0%;
    display: grid;
    height: 520px;
    grid-template-rows: 520px 900px;
    grid-template-columns: 35% 65%x;
    grid-template-areas:
    "heroImg LizLakedescription"
   ;
  }
  #LizLakedescription {
    text-align: center;
    wor
    color: #FFFFFF;
    font-size: 28px;
    line-height: 42px;
    padding: 10%;
    padding-top: 2rem;
    background-color: #103A72;
  }
  #heroImg {
    grid-area: heroImg;
    background-image: url(../Images/Headshot-1.png);
    display: flex;
  }
.viewresume {
    margin: 10% 7.33%;
    background-color:#ADBB0D;
    color: white;
    width: 250px;
    height: 250px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 50%;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
}
.uxed {
    margin: 10% 7.33%;
    background-color:#D64168;
    color: #FFFFFF;
    width: 250px;
    height: 250px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 50%;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
  }
.lmsdesign {
    margin: 10% 7.33%;
    background-color:#103A72;
    color: #FFFFFF;
    width: 250px;
    height: 250px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 50%;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
}
.viewresume a {
    color: #fff;
    text-decoration: none;
}
.viewresume a:hover {
    font-weight: 900;
}
.uxed a{
    color: #fff;
    text-decoration: none;
}
.uxed a:hover {
    font-weight: 900;
}
.lmsdesign a {
    color: #fff;
    text-decoration: none;
}
.lmsdesign a:hover {
    font-weight: 900;
}
.footernavigation {
  display: flex;
  align-items: center;
  background-color: #ADBB0D;
  height: 150px;
  margin-top: 36px;
  justify-content: right;
}
.footerItem1 {
  padding: 36px;
  align-items: center;
}
      
@media only screen and (max-width: 600px) {
#herogrid {
  width: 90%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "1fr"
  "1fr"
  ;
}
p {
  word-wrap: break-word;
  font-size: 18px;
}
}