body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
  }
  .mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: #ADBB0D;
    color: white;
    height: 200px;
  }
  .siteLogo {
    display: flex;
    align-items: center;
    font-size: 36px;
  }
  
  .logoImage {
    width: 68px;
    height: auto;
    border-radius: 16px;
    margin: 0 16px 0 0;
  }
  
  .mainNavigation {
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  
  .mainNavItem {
      padding: 0 16px;
      color: #fff;
  }
  .mainNavItem a {
      color: #fff;
      text-decoration: none;
  }
  .mainNavItem a:hover {
      outline: 1px dotted #fff;
  }
  #heroGrid {
    margin: 0px 0%;
    display: grid;
    height: 520px;
    grid-template-rows: 520px 900px;
    grid-template-columns: 539.81px 900px;
    grid-template-areas:
    "heroImg LizLakedescription"
   ;
  }
  #LizLakedescription {
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 42px;
    padding-left: 61px;
    padding-right: 61px;
    padding-top: 104px;
    padding-bottom: 105px;
    background-color: #103A72;
  }
  #heroImg {
    grid-area: heroImg;
    background-image: url(../Images/Headshot-1.png);
  }

  .viewresume {
    margin: 10% 6.333%;
    background-color:#ADBB0D;
    color: white;
    width: 290px;
    height: 290px;
    font-size: 36px;
    font-weight: 700;
    border-radius: 50%;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
  }
  .uxed {
    margin: 10% 6.333%;
    background-color:#D64168;
    color: #FFFFFF;
    width: 290px;
    height: 290px;
    font-size: 36px;
    font-weight: 700;
    border-radius: 50%;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
  }
  .lmsdesign {
    margin: 10% 6.333%;
    background-color:#103A72;
    color: #FFFFFF;
    width: 290px;
    height: 290px;
    font-size: 36px;
    font-weight: 700;
    border-radius: 50%;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
  }
  .viewresume a {
    color: #fff;
    text-decoration: none;
}
.uxed a{
    color: #fff;
    text-decoration: none;
}
.lmsdesign a {
    color: #fff;
    text-decoration: none;
}
  footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ADBB0D;
    height: 100px;
  }
  .footer {
    color: white;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }